* {
  margin: 0;
  padding: 0;
}

/*центрирует контент с помощью ф-и calc и padding по бокам*/
.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.browse__button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #F16D7F;
  background: #F1F4F7;
  border: solid 1px;
  padding: 14px 38px;
  text-decoration: none;
  display: inline-block;
  margin-top: 63px;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.browse__button:hover {
  background-color: #B9E0F3;
  color: #151719;
  border: solid 1px #F1F4F7;
}

.image {
  width: 75%;
}

.products {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

.product-item {
  width: 24%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}